* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
   
    background-color: #fefcfb;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.509)),
    url(/assets/img/vivienda.png);
    background-size: cover;
}

.nav{
    width: 100%;
    background-color: #084B83;
    height: 100px;
    box-shadow: 0 5px 10px 3px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.logo {
    width: 400px;
}

.menu{
    display: flex;
}

.menu li {
    margin: 0px 40px;
}

.menu li a {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #084B83;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.parrafos{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: auto;
    width: 600px;
    /* height: 700px; */
    background: #084B83;
    padding: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  
}
.parrafos h4{
    text-align: center;
}
